venv/
backend/venv/
**/__pycache__/
**/*.pyc
backend/db.sqlite3
backend/.env
backend/staticfiles/
backend/ml_models/
backend/media/
frontend/node_modules/
frontend/dist/
frontend/.env.local
.DS_Store
*.log
